/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f2b05e;
  --ifm-color-primary-dark: #efa13f;
  --ifm-color-primary-darker: #ee992f;
  --ifm-color-primary-darkest: #da8012;
  --ifm-color-primary-light: #f5bf7d;
  --ifm-color-primary-lighter: #f6c78d;
  --ifm-color-primary-lightest: #fadebb;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f2b05e;
  --ifm-color-primary-dark: #efa13f;
  --ifm-color-primary-darker: #ee992f;
  --ifm-color-primary-darkest: #da8012;
  --ifm-color-primary-light: #f5bf7d;
  --ifm-color-primary-lighter: #f6c78d;
  --ifm-color-primary-lightest: #fadebb;
}